<!-- index.html -->
<!DOCTYPE html>
<html>
<head>
    <title>Listado de Compras</title>
    <title>Listado de Compras</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>Listado de Compras</h1>
    <!-- index.html -->
<!-- ... -->
<!-- index.html -->
<!-- ... -->
<div class="table-container">
    <table class="data-table">
      <tr>
        <th class="table-header">Nombre</th>
        <th class="table-header">Código</th>
        <th class="table-header">Precio</th>
        <th class="table-header">Cantidad</th>
        <th class="table-header">Iva</th>
        <th class="table-header">Descuento</th>
        <th class="table-header">Total</th>
        <th class="table-header">Estado</th>
        <th class="table-header">Acciones</th>
      </tr>
      {% for product in products %}
      <tr>
        <td>{{ product.nombre }}</td>
        <td>{{ product.codigo }}</td>
        <td>{{ product.precio }}</td>
        <td>{{ product.cantidad }}</td>
        <td>{{ product.precio|int * product.cantidad|int * 0.12 }}</td> <!-- Cálculo del IVA -->
        <td>{{ product.precio|int * product.cantidad|int * 0.10 }}</td> <!-- Cálculo del total -->
        <td>{{ product.precio|int * product.cantidad|int + (product.precio|int * product.cantidad|int * 0.12) }}</td> <!-- Cálculo del total -->        
        <td>{% if product.precio >= 0 and product.precio <= 25 %}Válido{% else %}Inválido{% endif %}</td>
        <td>
            <a class="modify-button" href="/edit_product/{{ product._id }}">Modificar</a>
            <form method="POST" action="/delete_product/{{ product._id }}" style="display: inline;">
                <button class="delete-button" type="submit" class="delete-button">Eliminar</button>
            </form>
        </td>
      </tr>
      {% endfor %}
    </table>
  </div>
  
<!-- ... -->

<!-- ... -->

<h1>Añadir Registro</h1>
<form method="POST" action="/add_product">
    <label for="nombre">Nombre:</label>
    <input type="text" name="nombre" id="nombre" style="text-align: right;"><br><br>
    
    <label for="codigo">Código:</label>
    <input type="text" name="codigo" id="codigo" style="text-align: right;"><br><br>
    
    <label for="precio">Precio:</label>
    <input type="number" name="precio" min="0" max="25" step="0.01" required>
    
    <label for="cantidad">Cantidad:</label>
    <input type="number" name="cantidad" id="cantidad" style="text-align: right;"><br><br>
    
    <label for="vendedor">Vendedor:</label>
    <input type="text" name="vendedor" id="vendedor" style="text-align: right;"><br><br>
    
    <button type="submit" class="btn-submit">Añadir</button>
</form>

</body>
</html>
